*{
    margin: 0%;
    padding: 0%;
    font-size: medium;
}

body{
    display: grid;
    text-align: center;
    justify-content: center;
}
#products{

    /* width: 100px; */
    /* height: 35px; */
    box-sizing:border-box ;
    border-radius: 15px;
    background: fixed;
    background-color: rgba(0, 0, 255, 0.096);


    
}
.card-body{
    background-color: beige;
    border-radius: 3px;
}
.card-title{
    font-size:large ;
}
button{
    width: 100px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.89);
    color: whitesmoke;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-inline: 7px;
    font-size: 20px;
}
.card-text{
    font-size: medium;
    background-color: silver;
}